.menu {
  transition: all 500ms;
  display: flex;
  flex-direction: row;
  gap: 30vw;
}

.menu-list {
  transition: all 500ms;
  transition-delay: 200ms;
  list-style-type: none;
  font-size: 250%;
  margin-left: 0;
  margin-right: 0;
}

.menu-list li a {
  font-size: 8vh;
  color: gray;
  transition: all 200ms;
  text-align: left;
}

.menu-list {
  transition: all 500ms;
  transition-delay: 200ms;
  list-style-type: none;
  font-size: 25vh;
}

.menu-list li.right a {
  transition: all 500ms;
  font-size: 50;
  color: gray;
  transition: all 200ms;
  text-align: right;
  margin-right: 8vh;
  font-size: 8vh;
}

.menu-list li a:hover {
  color: white;
  cursor: pointer;
}

.menu-list li a:active {
  color: white;
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #fff,
    0 0 50px #fff, 0 0 60px #fff, 0 0 70px #fff;
}

.menu-list li.right a:hover {
  color: white;
  cursor: pointer;
}

.menu-list li.right a:active {
  color: white;
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #fff,
    0 0 50px #fff, 0 0 60px #fff, 0 0 70px #fff;
}

.hidden {
  opacity: 0;
}

#menu-list.hidden {
  transform: translateY(250px);
}

ul.statList {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 30vw;
  margin: 0;
  padding: 0;
}

ul.statList li {
  text-align: center;
}

ul.statList li p.title {
  font-size: 5em;
}

#title {
  color: #43cea2; /* fallback for old browsers */
  color: -webkit-linear-gradient(
    to right,
    #185a9d,
    #43cea2
  ); /* Chrome 10-25, Safari 5.1-6 */
  color: linear-gradient(
    to right,
    #185a9d,
    #43cea2
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  transition: all 500ms;
}

#title:hover {
  color: white;
}

@media screen and (max-width: 600px) {
  .menu {
    display: inline-block;
  }
  .menu-list li.right a {
    color: gray;
    transition: all 200ms;
    text-align: left;
    font-size: 5vh;
  }
  .menu-list li a {
    color: gray;
    transition: all 200ms;
    text-align: left;
    font-size: 5vh;
  }
}

@media screen and (max-width: 950px) {
  .menu-list li.right a {
    font-size: 6vh;
  }
  .menu-list li a {
    font-size: 6vh;
  }
}
